*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    width: 100vw;
    height: 7rem;

}

.navbar .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul .item{
    display: block;
    padding: 1.5rem 0;
    margin: 0 .7rem;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.navbar ul .item:hover{
    border-bottom-color: slateblue;
} 
.navbar ul .item a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.chart{
    position: relative;
}
.chart:hover .zingchart{
    display: flex;
}
.zingchart{
    position: absolute;
    top: 105%;
    padding: 1rem;
    display: none;
    z-index: 1;
    background: #ffffff;
}
.zingchart ul{
    list-style: none;
    display: block;
}
.zingchart ul li{
    text-decoration: none;
    padding: .5rem 4rem .5rem 1rem;
    text-transform: uppercase;
}
.zingchart ul li:hover{
    color: slateblue;
    background-color: rgb(223, 226, 231);
}

.vip{
    padding: .5rem 1rem!important;
    background-color: rgb(224, 210, 13);
    border-radius: 20px;

}

.Content{
    display: flex;
    justify-content: center;
}
.Content .picture{
    background: url(../Images/camychiha3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 65vw;
    height: 25rem;
    animation-name: pictures;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

@keyframes pictures{
    25%{
        background: url(../Images/tan\ bach\ nuongg\ tu\ truyen\ ky.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    40%{
        background: url(../Images/vantichtruyen1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    50%{
        background: url(../Images/camychiha.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    75%{
        background: url(../Images/dong\ cung1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background: url(../Images/camychiha2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


